<div class="bracket-container">
    <div class="playoffs">
        <p>team 1</p>
        <p>team 2</p>
        <p>team 3</p>
        <p>team 4</p>
        <p>team 5</p>
        <p>team 6</p>
        <p>team 7</p>
        <p>team 8</p>
        <p>team 9</p>
        <p>team 10</p>
        <p>team 11</p>
        <p>team 12</p>
    </div>
    <div class="quarter-finals">
        <p>team 1</p>
        <p>team 2</p>
        <p>team 3</p>
        <p>team 4</p>
        <p>team 5</p>
        <p>team 6</p>
        <p>team 7</p>
        <p>team 8</p>
    </div>
    <div class="semi-finals">
        <p>team 1</p>
        <p>team 2</p>
        <p>team 3</p>
        <p>team 4</p>
    </div>
    <div class="finals">
        <p>team 1</p>
        <p>team 2</p>
    </div>
</div>