{{! styling is done in courtView_style.css}}
{{! 2 classes here: "allCourts" & "court"}}

<div class = "allCourts"> {{! container for the 4 courts}}
    <div class="court"> {{! labelling courts but maybe don't need separate classes for each of them}}
        <h3>Court 1</h3>
        <div> 
            
            {{! Do I need this div here? AND is it good practice to have another header?}}


            <br>    
            <h1> Team 1 vs Team 2 </h1> {{! Need to insert what game it playing here}}
            {{! Something like currentGame.team1Insert "vs" currentGame.team2Insert}}
            <br>
            {{! if live: "Link for Live Game"}}
            
            <div class="inputScoresButton">
                {{! "Input Score"}}
                {{#compareRole "coordinator" role}}
                <a class="coordinator" href="/score_input">Input Scores</a></li>
                {{/compareRole}}

            </div>
        </div>
    </div>

    <div class="court">
        <h3>Court 2</h3>
        <div>
            <br>    
            <h1> Team 1 vs Team 2 </h1> {{! Need to insert what game it playing here}}
            {{! Something like currentGame.team1Insert "vs" currentGame.team2Insert}}
            <br>
            {{! if live: "Link for Live Game"}}
            {{! "Input Score"}}
            <div class="inputScoresButton">
                {{! "Input Score"}}
                {{#compareRole "coordinator" role}}
                <a class="coordinator" href="/score_input">Input Scores</a></li>
                {{/compareRole}}

            </div>
        </div>
    </div>

    <div class="court">
        <h3>Court 3</h3>
        <div>
            <br>    
            <h1> Team 1 vs Team 2 </h1> {{! Need to insert what game it playing here}}
            {{! Something like currentGame.team1Insert "vs" currentGame.team2Insert}}
            <br>
            {{! if live: "Link for Live Game"}}
            {{! "Input Score"}}
            <div class="inputScoresButton">
                {{! "Input Score"}}
                {{#compareRole "coordinator" role}}
                <a class="coordinator" href="/score_input">Input Scores</a></li>
                {{/compareRole}}

            </div>
        </div>
    </div>

    <div class="court">
        <h3>Court 4</h3>
        <div>
            <br>    
            <h1> Team 1 vs Team 2 </h1> {{! Need to insert what game it playing here}}
            {{! Something like currentGame.team1Insert "vs" currentGame.team2Insert}}
            <br>
            {{! if live: "Link for Live Game"}}
            {{! "Input Score"}}
            <div class="inputScoresButton">
                {{! "Input Score"}}
                {{#compareRole "coordinator" role}}
                <a class="coordinator" href="/score_input">Input Scores</a></li>
                {{/compareRole}}

            </div>
        </div>
    </div>
</div>