<form id="poolInputForm" method="post">
    <p>How many seeding games?</p>
    <input type="number" required>
    <p>Amount of teams</p>
    <input type="number" required>
    <p>Fields</p>
    <input type="number" required>
    <p>How many teams will make it to playoffs?</p>
    <input type="number" required>
    </br>
    </br>
    <button type="submit">Submit</button>
</form>