<div>
    <div>
        <h1>Welcome to Bracket Generator Prototype V.1</h1>
    </div>
    <div>
        <form>
            <h3>Login to create brackets</h3>
            <input type="username" placeholder="Enter username" minlength="6" required>
            <br>
            <input type="password" placeholder="Enter password" minlength="6" required>
            <br>
            <button type="submit">Login</button>
        </form>
    </div>
</div>