<div>
    <form>
        <h3>Login to create brackets</h3>
        <input type="username" placeholder="Enter username" minlength="6" required>
        <br>
        <input type="password" placeholder="Enter password" minlength="6" required>
        <br>
        <button type="submit">Login</button>
        <p>New to here?</p>
        <button type="button">Sign Up</button>
    </form>
</div>