<div class="userCard">
    <img src="../../public/images/R.png" alt="Profile Picture">
    <br>
    <h1>{{nickname}}</h1>
    <p>{{role}}</p>
    <p>Shirt Number: 12</p>
    <p>Team: NJ X</p>
    <p>Position: Outside Hitter</p>
</div>