<form id="contact_form">
  <div>
    <input type="email" name="email_address" id="email_address" required minlength="5" placeholder="Email Address" size="40">
  </div>
  <div>
    <input type="text" name="issue" id="issue" required maxlength="75" placeholder="Please Identify an issue" size="40">
  </div>
  <br><br>
  <div>
    <textarea name="message" id="contact_message" placeholder = "Description" cols="35" rows="15"></textarea>
  </div>
  <br>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>