        <form id="contact_form">
            <div>
              <input type="email" name="email_address" id="email_address" required minlength="5" placeholder="Email Address" size="40">
            </div>
            <div>
              <input type="text" name="message_subject" id="message_subject" required maxlength="75" placeholder="Subject" size="40">
            </div>
            <br><br>
            <div>
              <textarea name="message" id="contact_message" placeholder = "Message" cols="35" rows="15"></textarea>
            </div>
            <br>
            <div>
              <button type="submit">Submit</button>
            </div>
          </form>