<div class="grid-column">
    <div class="grid-row">Nickname</div> <div class="grid-row">{{role}}</div>
    <div class="grid-row">Nickname</div> <div class="grid-row">{{role}}</div>
    <div class="grid-row">Nickname</div> <div class="grid-row">{{role}}</div>
    <div class="grid-row">Hello</div> <div class="grid-row">world</div>
</div>
