<div class="row">
    <div class="column">
        <section id="team1">
            <form id="scoreInputForm">
                <h3 id="team1Name">{{teamName1}}</h3>
                <h4>Score: </h4>
                <input type="number" name="score1" id="score1">
        </section>
    </div>
    <div class="column">
        <section id="team2">
                <h3 id="team2Name">{{teamName2}}</h3>
                <h4>Score: </h4>
                <input type="number" name="score2" id="score2">
        </section>
    </div>
    <div class="column">
        <section id="year">
            <h3>Sportsfest Year</h3>
            <input type="number" name="yearPlayed" id="yearPlayed" value="{{year}}">
            <button type="submit">Submit</button>
            </form>
        </section>
    </div>
</div>
<script src="/public/js/score_input.js"></script>