<div class="row">
    <div class="column">
        <section id="team1">
            <form>
                <h3>Team name here</h3>
                <h4>score: </h4>
                <input type="number" name="score1" id="score1">
                <br>
                <button type="submit">Submit</button>
            </form>
        </section>
    </div>
    <div class="column">
        <section id="team2">
            <form>
                <h3>Team name here</h3>
                <h4>score: </h4>
                <input type="number" name="score2" id="score2">
                <br>
                <button type="submit">Submit</button>
            </form>
        </section>
    </div>
</div>