<form>
    <div>
        <input id="teamName" type="text" placeholder="Team Name">
    </div>
    <div id="teamMembers">
        <input id="teamMemberName" type="text" placeholder="Team Member Name">
    </div>
    <div id="add_remove_buttons">
        <button id="add_more_button" type="button">add another member</button>
        <button id="remove_button" type="button">remove member</button>
    </div>
</form>
<script src="/public/js/team_input.js"></script>