<form id="teamInputForm" method="post">
    <div>
        <input id="teamName" type="text" placeholder="Team Name" required>
        <br>
        <input id="districtSelection" type="text" list="districts" placeholder="District" required>
        <datalist id="districts">
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
            <option value="6"></option>
            <option value="7"></option>
            <option value="8"></option>
            <option value="9"></option>
            <option value="10"></option>
            <option value="11"></option>
            <option value="12"></option>
            <option value="13"></option>
            <option value="14"></option>
            <option value="15"></option>
            <option value="16"></option>
            <option value="17"></option>
            <option value="18"></option>
            <option value="19"></option>
            <option value="20"></option>
            <option value="21"></option>
            <option value="22"></option>
            <option value="23"></option>
            <option value="24"></option>
            <option value="25"></option>
        </datalist>
    </div>
    <div id="teamMembers">
        <input name="teamMemberName" id="teamMemberName" type="text" placeholder="Team Member Name" required>
    </div>
    <div id="add_remove_buttons">
        <button id="add_more_button" type="button">Add Member</button>
        <button id="remove_button" type="button">Remove Member</button>
    </div>
    <div>
        <button id="submit" type="submit">Submit</button>
        <button type="reset">Reset</button>
    </div>
</form>
<script src="/public/js/team_input.js"></script>