<form>
    <div>
        <input id="teamName" type="text" placeholder="Team Name">
    </div>
    <div>
        <input id="teamMemberName" type="text" placeholder="Team Member Name">
        <button type="button">+ add another member</button>
    </div>
</form>
<script src="/public/js/add_more_people_button"></script>