<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Bracket Generator</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="Sports bracket generator">


    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <a href="landing_page.html">Big Booty Generator</a>
        <nav>
            <ul>
                <li><a href="report_bug.html">Report Bug</a></li>
            </ul>
        </nav>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>