<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>{{{title}}}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="Sports bracket generator">

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="     crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/style.css">
    {{#if shortcode}}
    <link rel="stylesheet" href="/public/css/{{shortcode}}_style.css">
    {{/if}}
</head>
<body>
    <header>
        <nav>
            <div id="logoDiv">
                <a href="/" id="logo">SBG</a>
            </div>
            <div id="linkDiv">
                <ul id="navLinks">
                    <li id="profileLoginLink">
                        {{#if isAuthenticated}}
                            <a href="#" id="profileLink">PROFILE</a>
                            <ul class="dropdownContainer">
                                <li class="dropdownItem"><a href="/player_dashboard">View Profile</a></li>
                                <li class="dropdownItem"><a href="/report_bug">Report Bug</a></li>
                                <li class="dropdownItem"><a href="/logout">Logout</a></li>
                            </ul>
                        {{else}}
                            <a href="/login" id="loginLink">LOGIN/SIGN UP</a>
                        {{/if}}
                    </li>
                </ul>
            </div>
        </nav>
    </header>   
    <main>{{{body}}}</main>
</body>
</html>

<script src="/public/js/nav_bar.js"></script>