body {
    animation: fadein 1.25s ease-in-out;
}

.bracket-container { /* affects playoff/quarters/semis/finals divs */
    display: flex;
    gap: 1em;
    height: fit-content;
    justify-content: center;
}

.bracket-container > * { /* affects each matchup box within div */
    display: flex;
    flex-direction: column;
    flex: 0 1 20%;
    text-align: center;
    align-items: center;
    justify-content: center; 
    gap: 2em;
}

.bracket-container > * > * { /* affects contents of each matchup box */
    background-color: rgb(209, 209, 209);
    display: flex;
    flex-direction: column;
    flex: 0 1 15%;
    width: 50%;
    min-height: 80px;
    align-items: center;
    justify-content: center; 
}

h5, p {
    line-height: 1.5;
}

button {
    height: 50px;
    width: 80px;
}