@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 95%;
    }
}

body {
    animation: fadein 1.25s ease-in-out;
}

.allCourts{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.court{
    width: 300px;
    height: 250px;
    margin: 15px;
    border: 3px solid black;
    background-color: aliceblue;
    padding: 15px;
    text-align: center;
}


.score-submission {
    display: block;
}

.score-columns{
    columns: 2;
}

input{
    width: 50px;
}

.live-stream-link{
    font-weight: bold;
}

button{
    padding: 3px;
    cursor: pointer;
}

/* Need to create logged-in class? */


