a:not(header a), li:not(header li) {
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: mainFont;
    font-size: 36px;
}

section#landingPageDiv {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

div#titleDiv {
    width: 100%;
    height: 100%;
    background-color: rgb(28, 48, 90);
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titleDiv h1 {
    text-align: center;
}

h1 {
    color: var(--textColor);
    font-family: titleFont;
    font-size: 120px;
}

h2 {
    color: white;
    font-family: mainFont;
    font-size: 24px;
}