@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 95%;
    }
}

.dashboardCards {
    padding: 10px 10px;
}

#userCard {
    max-width: 300px;
    max-height: 400px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    grid-column-start: 1;
    grid-column-end: 2;
}

.edit_inputs {
    text-align: center;
    padding: .15em;
    margin-top: .15em;
    margin-bottom: .15em;
}

#manageTeamCard {
    max-width: 100%;
    max-height: 400px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    grid-column-start: 2;
    grid-column-end: 3;
}

#editUserRoles {
    max-width: 100%;
    max-height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    grid-column-start: 2;
    grid-column-end: 4;
}

.grid-column {
    display: grid;
    grid-template-columns: auto auto 300px;
    grid-auto-rows: 50px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#users_submit_button_div {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

#role_change_submit_button_div {
    grid-column-start: 5;
    grid-column-end: 5;
}

.grid-row, .header{
    background-color: rgb(225, 225, 225);
    padding: 10px;
    border: 1px solid black;
}

.header {
    background-color: rgb(203, 203, 203);
}

#teamMembers {
    max-height: 100px;
    overflow-y: auto;
}

#button {
    padding: 2px;
}

main {
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 18px;
    padding: 10px 5px;
}

p {
    font-size: 14px;
    padding: 10px 5px;
}

img {
    height: 150px;
    width: 150px;
    padding: 5px 5px;
}

form, body {
    animation: fadein 1.25s ease-in-out;
}

form input {
    text-align: center;
    border-width: 1px;
    border-radius: 8%;
    padding: 2px;
    margin: 10px 20px;
}

form input::placeholder, textarea::placeholder {
    text-align: center;
}