@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

form, body {
    animation: fadein 1.25s ease-in-out;
}

#dashboard { /* Dashboard cards flex to fit the page */
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}


#dashboard > * { /* selects all direct children of #dashboard aka all cards*/
    flex: 0 1 20%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-height: 400px;
    padding: 10px 10px;
}

#dashboard > #editUserRoles {
    flex: 1 1 40%;
}

.edit_inputs { /* for when you click edit on user card*/
    text-align: center;
    padding: .15em;
    margin-top: .15em;
    margin-bottom: .15em;
}

.grid-column { /* selects table columns for edit user role*/
    display: grid;
    grid-template-columns: auto auto 300px;
    grid-auto-rows: 50px;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#users_submit_button_div { /* trash way of styling submit button in edit user roles*/
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

#role_change_submit_button_div {
    grid-column-start: 5;
    grid-column-end: 5;
}

/* generic edit user roles styling  */

.grid-row, .header{
    background-color: rgb(225, 225, 225);
    padding: 10px;
    border: 1px solid black;
}

.header {
    background-color: rgb(203, 203, 203);
}

/* random other styling */

#teamMembers {
    max-height: 100px;
    overflow-y: auto;
}

#button {
    padding: 2px;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 18px;
    padding: 10px 5px;
}

p {
    font-size: 14px;
    padding: 10px 5px;
}

img {
    height: 150px;
    width: 150px;
    padding: 5px 5px;
}

form input {
    text-align: center;
    border-width: 1px;
    border-radius: 8%;
    padding: 2px;
    margin: 10px 20px;
}

form input::placeholder, textarea::placeholder {
    text-align: center;
}