body {
  animation: fadein 1.25s ease-in-out;
}

button {
  text-align: center;
  border-width: 1px;
  border-radius: 8%;
  padding: 5px;
  margin: 10px;
}

.header_bar,
.seed_info {
  display: grid;
  grid-template-columns: 20% 30% 20% 20% auto;
  grid-auto-rows: 3em;
  text-align: center;
}

.header_bar {
  background-color: grey;
  padding: 0.5em;
  font-size: clamp(5px, 5px + 1vw, 18px);
}

.seed_information {
  background-color: lightgrey;
  max-height: 60vh;
  overflow-y: scroll;
  font-size: clamp(1rem, 1rem + 5vw, 18px);
  padding-top: 0.5em;
}
