* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

@font-face {
    font-family: HeaderFont;
    src: url(../fonts/roboto-condensed/RobotoCondensed-Light.ttf);
}

@font-face {
    font-family: LogoFont;
    src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

/* base settings for main layout */

header {
    background-color: rgb(108, 109, 108);
    opacity: 95%;
    /* padding: 20px 60px; */
    font-family: HeaderFont;
    font-size: 16px;
}

header a, nav li {
    text-decoration: none;
    list-style: none;
    float: left;
    color: black;
}

body {
    min-height: 100%;
}

main {
    min-height: 100%;
    display: grid;
    grid-template-rows: 75vh auto auto;
    padding: 2%;
    z-index: 0;
}

/* end */

/* hamburger icon styling */

#hamburger-menu {
    position: absolute;
    display: none;
    top: 20px;
    right: 60px;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
    width: 30px;
}

#hamburger-menu .bar {
    flex: 0 1 3px;
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

/* end */

/* Anchor button */

.anchor-button {
    font-family: LogoFont;
    font-size: 36px;
    padding-left: 60px;
    color: rgba(214, 0, 0, .85);

}

header .anchor-button:hover {
    color: rgb(209, 209, 209);
    transition: 250ms ease-in-out;
}

/* end */

/* nav bar hover color change */

.main-nav > li a:hover {
    color: rgb(209, 209, 209);
    transition: 250ms ease-in-out;
}

/* end */

/* nav bar settings */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > * {
    flex: 0 1 100%;
}

#nav_links > ul {
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
}

#nav_links > ul > li { /* visible links in nav bar */
    padding: 20px 10px;
}

.dropdown > li { /* dropdown links */
    padding: 10px 0px;
}

.main-nav li {
    position: relative;
}

.main-nav li a {
    display: block;
}

.main-nav li:hover .dropdown { /* makes dropdown ul visible when hovering */
    visibility: visible;
    opacity: 90%;
    transition: 400ms ease-in-out;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: -25px;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: rgb(209, 209, 209);
    width: 130px;
    margin-top: 20px;
    padding: 5px 3px;
    /* border-radius: 10px; */
}

.dropdown li {
    text-align: center;
    width: 100%;
    border-radius: 10px;
}

.dropdown li:hover {
    opacity: 100%;
    background-color: rgba(214, 0, 0, 1);
    transition: 250ms ease-in-out;
}

.dropdown a {
    opacity: 100%;
    display: block;
    width: 100%;
}

/* end */

@media (max-width: 1300px) {
    #hamburger-menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        width: 100%;
    }

    #nav_links {
        display: none;
        width: 100%;
    }

    #nav_links ul {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    #nav_links.active {
        display: flex;
    }
}