:root {
    --borderRadius: 20px;
    --textColor: rgb(234, 234, 234);
}

@font-face {
    font-family: mainFont;
    src: url(../fonts/Favorit_Expanded_Dynamo/ABCFavoritExpanded-Light-Trial.otf);
}

* { /* get rid of default margin / padding */
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--textColor);
}

header a, nav li { /* make header and li text normal */
    text-decoration: none;
    list-style: none;
    color: var(--textColor);
}

nav {
    border: 1px solid black;
    background-color: white;
    border-radius: var(--borderRadius);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logoDiv, #linkDiv {
    font-family: mainFont;
    padding: 5px 10px;
}

#profileLink {
    text-align: center;
    padding: 2px 10px;
    border-radius: var(--borderRadius);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginLink {
    text-align: center;
    padding: 2px 10px;
    border-radius: var(--borderRadius);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #linkDiv li:hover .dropdownContainer { */ /* makes dropdown visible*/
    /* visibility: visible; */
/* } */

.dropdownContainer {
    position: absolute;
    visibility: hidden;
    display: flex;
    flex-direction: column;
}