@keyframes bannerAnimation1 {
    0% {transform: translateX(0%);
        -webkit-transform: translateX(0%);}
      100% {transform: translateX(-200%);
          -webkit-transform: translateX(-200%);}
}
@keyframes bannerAnimation2 {
    0% {transform: translateX(0%);
        -webkit-transform: translateX(0%);}
      100% {transform: translateX(-200%);
          -webkit-transform: translateX(-200%);}
}
@keyframes bannerAnimation3 {
    0% {transform: translateX(-100%);
        -webkit-transform: translateX(-100%);}
      100% {transform: translateX(-300%);
          -webkit-transform: translateX(-300%);}
}
@keyframes linksArrowTransition {
    0% {
        width: 0%;
        opacity: 0;
    }
    25% {
        width: 3%;
    }
    50% {
        width: 6%;
        opacity: 50%;
    }
    75%{
        width: 6%;
        opacity: 100%;
    }
    100% {
        width: 6%;
        opacity: 100%;
    }
}

a:not(header a), li:not(header li) {
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: mainFont;
    font-size: 36px;
}

section.sportDiv {
    height: 100vh;
}

section#landingPageDiv {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

div#titleDiv {
    width: 100%;
    height: 100%;
    background-color: rgb(222, 198, 237);
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titleDiv h1 {
    text-align: center;
}

h1 {
    font-family: titleFont;
    font-size: 120px;
}

h2 {
    font-family: mainFont;
    font-size: 24px;
}

/* hover styling */

.sportDiv .sportsLinksDiv li:hover::before {
    animation: linksArrowTransition 400ms linear forwards;
    visibility: visible;
    display: inline-block;
}

#sportsLinks0 a:hover, #sportsLinks0 li:hover::before, #sportsLinks4 a:hover, #sportsLinks4 li:hover::before, #sportsLinks8 a:hover, #sportsLinks8 li:hover::before {
    color: var(--soccerBGColor);
}

#sportsLinks1 a:hover, #sportsLinks1 li:hover::before, #sportsLinks5 a:hover, #sportsLinks5 li:hover::before, #sportsLinks9 a:hover, #sportsLinks9 li:hover::before {
    color: white;
}

#sportsLinks2 a:hover, #sportsLinks2 li:hover::before, #sportsLinks6 a:hover, #sportsLinks6 li:hover::before, #sportsLinks10 a:hover, #sportsLinks10 li:hover::before {
    color: white;
}

#sportsLinks3 a:hover, #sportsLinks3 li:hover::before, #sportsLinks7 a:hover, #sportsLinks7 li:hover::before, #sportsLinks11 a:hover, #sportsLinks11 li:hover::before {
    color: var(--volleyballBGColor);
}

/* hover styling end */

/* sports link bg colors */

#sportsLinks0, #sportsLinks4, #sportsLinks8 {
    background-color: var(--volleyballBGColor);
}

#sportsLinks1, #sportsLinks5, #sportsLinks9 {
    background-color: var(--frisbeeBGColor);
}

#sportsLinks2, #sportsLinks6, #sportsLinks10 {
    background-color: var(--basketballBGColor);
}

#sportsLinks3, #sportsLinks7, #sportsLinks11 {
    background-color: var(--soccerBGColor);
}

/* sports link bg colors end */

/* general sports section styling */

section.sportDiv > div {
    position: relative;
}

.sportDiv .banner {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    position: relative;
    z-index: 1;
}

.sportDiv .banner p.textContentBanner {
    width: 100%;
    white-space: nowrap;
    position: relative;
}

.sportsLinksDiv {
    position: absolute;
    top: 80%;
    width: 40%;
    height: 300px;
    padding-top: 1rem;
    padding-left: 2rem;
    border: 1px solid black;
    border-radius: 40px;
    display: flex;
    align-items: center;
    z-index: 0;
}

.sportDiv .sportsLinksDiv li::before { /* creating hidden arrows before li */
    width: 0%;
    opacity: 0;
    content: "\2192";
    font-size: 24px;
    padding: .5rem;
    visibility: hidden;
    display: none;
    transition: var(--linkTransitionOut);
}

.sportDiv .sportsLinksDiv li { /* to make li align with arrows */
    display: flex;
    align-items: center;
}

/* general sports section end */

#thin-arrow {
    width: 80px;
    height: 100px;
    padding: 30px;
}

/* styling for each sport */

.textContentBanner > span {
    padding: 0 10px;
    font-family: titleFont;
    font-size: 160px;
    display: inline-block;
    white-space: nowrap;
}

span.textBanner1 {
    animation: bannerAnimation1 40s linear forwards;
    -webkit-animation: bannerAnimation1 40s linear forwards;
}

span.textBanner2 {
    /* background-color: pink; */
    animation: bannerAnimation2 40s linear infinite;
    -webkit-animation: bannerAnimation2 40s linear infinite;
}
span.textBanner2 {
    /* background-color: green; */
    animation: bannerAnimation3 40s linear infinite;
    -webkit-animation: bannerAnimation3 40s linear infinite;
    animation-delay: 20s;
}

#banner1, #banner5, #banner9 {
    transform: rotateZ(-7deg);
}

#sportsLinks1, #sportsLinks5, #sportsLinks9 {
    top: 50%;
    left: 50%;
    padding-top: 70px;
}

#banner2, #banner6, #banner10 {
    transform: rotateZ(7deg);
}

#sportsLinks2, #sportsLinks6, #sportsLinks10 {
    top: 50%;
    padding-top: 70px;
}

#sportsLinks3, #sportsLinks7, #sportsLinks11 {
    left: 10%;
}

/* styling for each sport end */