header::after {
  content: '';
  display: table;
  clear: both;
}

body{
  margin: 0;
}

#nav_bar_container {
  width: 90%;
  margin: 0 auto;
  font-family: Helvetica;
}

#my_name {
  color: rgb(104, 104, 104);
  text-decoration: none;
  float: left;
  padding-top: 25px;
  /* padding-bottom: 30px; */
  font-size: 18px;
}

nav {
  float: right;
}

nav ul li {
  display: inline-block;
  font-size: 10px;
  padding-top: 10px;
  padding-left: 30px;
}

nav ul li a {
  font-family: Helvetica;
  font-size: 16px;
  color: rgb(104, 104, 104);
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

nav ul li a:hover{
  color: rgb(77, 120, 91);
  transition: ease-in-out 150ms;
}

nav ul li a::before{
  content: '';
  display: block;
  height: 2px;
  background-color: rgb(77, 120, 91);

  position: absolute;
  bottom: 0;
  width: 0%;

  transition: ease-in-out 150ms;
}

nav ul li a:hover::before {
  width: 100%;
}

#my_name:hover {
  color: rgb(0, 0, 0);
  transition: ease-in-out 250ms;
}